NEXT_PUBLIC_DOMAIN_NAME_1 = http://localhost:3000

# MongoDB Keys
MONGODB_URI = mongodb://127.0.0.1:27017/email-armor-demo

#Nodemailer keys
NODEMAILER_USERNAME = 
NODEMAILER_PASSWORD = 
NODEMAILER_MAIL_FROM = 

ALLOWED_EMAIL_DOMAINS = @gmail.com,@hotmail.com

BCRYPT_SALT_ROUNDS = 10

JWT_TOKEN_VALUE = just-for-test
EXPIRE_JWT_TOKEN = 30d

COOKIE_DOMAIN = localhost